@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@400;600&display=swap');
.solar-card {
  font-family: 'Poppins', sans-serif;

  
  margin-top: 20px 0px 20px;
    background-color: #161A1D; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    margin: 20px auto; 
    display: flex;
    flex-direction: row;

  }
.hour-data{
  background-color: #333; /* Background color of the card */
  padding: 20px;
  height: 50px;
  width: 50px;
}
  
  .solar-card p {
    margin: 10px 0;
  }
  .scrollable-container {
    overflow-x: auto;
    max-height: 200px;
    padding: 10px; /* Add some padding to the container */
    border-top: 1px solid #ccc;
  }

  
  .horizontal-cards {
    display: flex;
  }
  
  .horizontal-card {
    background-color: #161A1D;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px; /* Set a fixed width for each card */
    margin-right: 10px; /* Add margin between cards */
  }
  