/* Header.css */

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 20px; 
    background-color: #131214;
    color: white;
    
  }
  
  .Left, .Center, .Right {
    display: flex;
    align-items: center;
  }
  
  .SearchBox {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    margin: 0 10px;
  }
  
  .SearchBox input {
    border: none;
    outline: none;
    width: 100%;
    margin-left:10px ;
    padding: 5px;
  }
  
  .SearchBox i {
    margin-left: 5px;
    color: #555;
    cursor: pointer;
  }
  
  .Right button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
  }
  